<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/client.css">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="./">
                <img src="../static/images/sheltrlogo.png" alt="Sheltr Logo">
            </a>
        </div>
    </header>
    <main>
    <div class="login-container">
        <h2>Log In</h2>
        <form id="loginForm">
            <div class="input-group">
                <input type="text" id="loginUser" required>
                <label for="loginUser">Username</label>
            </div>

            <div class="input-group">
                <input type="password" id="loginPass" required>
                <label for="loginPass">Password</label>
            </div>

            <button type="submit" class="auth-button">Log In</button>

            <p class="signup-text">
                Not a member? <a href="#" onclick="SwitchToSignup()">Sign Up</a>
            </p>
            <div id="popup">
                <p id="errorMessage" class="error-message">Login failed, try again!</p>
            </div>            
        </form>
    </div>
    <main>
    <script src="../static/js/client-login.js"></script>
</body>
</html>
