<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Client Main</title>
    <link rel="stylesheet" href="../static/css/client.css">
</head>
<body>
    <div class="content-container">
        <h2>My Shelters</h2>
        <div id="shelterContainer" class="shelter-container"></div>
    </div>
    <script src="../static/js/client-main.js"></script>
</body>
</html>