<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/client.css">
</head>
<body>
    <div class="login-container">
        <h2>Sign Up</h2>
        <form id="signupForm">
            <div class="input-group">
                <input type="text" id="signupUser" required>
                <label for="signupUser">Username</label>
            </div>

            <div class="input-group">
                <input type="password" id="signupPass" required>
                <label for="signupPass">Password</label>
            </div>

            <button type="submit">Sign Up</button>

            <p class="signup-text">
                Already have an account? <a href="#" onclick="SwitchToLogin()">Log In</a>
            </p>
        </form>
    </div>
    <script src="../static/js/client-login.js"></script>
</body>
</html>
